@{
    ViewBag.Title = "About";
}

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<div>   
    <fieldset>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Imagenes/1.jpg " class="thumbnail">
                    <img src="~/Imagenes/1.jpg" />
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Imagenes/2.jpg" class="thumbnail">
                    <img src="~/Imagenes/2.jpg" />
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Imagenes/3.jpg" class="thumbnail">
                    <img src="~/Imagenes/3.jpg" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Imagenes/4.jpg" class="thumbnail">
                    <img src="~/Imagenes/4.jpg" />
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Imagenes/5.jpg" class="thumbnail">
                    <img src="~/Imagenes/5.jpg" />
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Imagenes/6.jpg" class="thumbnail">
                    <img src="~/Imagenes/6.jpg" />
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Imagenes/7.jpg" class="thumbnail">
                    <img src="~/Imagenes/7.jpg" />
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Imagenes/8.jpg" class="thumbnail">
                    <img src="~/Imagenes/8.jpg" />
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="~/Imagenes/9.jpg" class="thumbnail">
                    <img src="~/Imagenes/9.jpg" />
                </a>
            </div>
        </div>           
        
    </fieldset>
</div>
